header{margin-bottom:50px;text-align: right}
.bold_txt{font-size:46px}
.lightbold_txt{font-size:22px}
.header li{display: inline-block;margin:10px;}
.header li a{    color: #fff;
    text-decoration: none;}